n8n/workflows/revision-tesis.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "revision-tesis",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "webhookId": "revision-tesis-webhook",
      "id": "b62f89ac-4c88-463d-82ef-309c4589db11"
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "_startMs",
              "value": "={{ Date.now() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a873c25f-ba4a-46c4-8e33-3f28cd4d4d43",
      "name": "Marcar inicio",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        144,
        0
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.archivoUrl }}",
        "responseFormat": "file",
        "options": {}
      },
      "name": "Descargar Archivo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        368,
        0
      ],
      "id": "de49cdfe-44d6-401d-9176-9ef3efa2d2bd"
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.body.tipoArchivo }}",
        "rules": {
          "rules": [
            {
              "value2": "pdf",
              "outputKey": "1"
            },
            {
              "value2": "txt",
              "outputKey": "2"
            },
            {
              "value2": "docx",
              "outputKey": "3"
            }
          ]
        }
      },
      "id": "65a4bfeb-44ed-4ce0-bd7b-13273bc51aca",
      "name": "Tipo de archivo",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        592,
        0
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "35aa07d9-7152-4a49-8a98-cec2f2a12e2c",
      "name": "Extraer texto (PDF)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "be112aac-bb7b-45a0-b677-f3a0e6bebddf",
      "name": "Extraer texto (TXT)",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        160
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://gotenberg:3000/forms/libreoffice/convert",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "0ee2f3b6-4088-4500-a75c-0d3440171a6f",
      "name": "Convertir DOCX a PDF (Gotenberg)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        320
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemma-3-12b-it",
        "options": {}
      },
      "id": "f67b86e6-cc06-4f62-9538-040c6e98bfac",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1072,
        224
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "nsfnvk859Idq0Knh",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "prompt": "Actúa como un experto revisor de proyectos de tesis, con amplia experiencia en la evaluación de trabajos de investigación en ingeniería de sistemas, específicamente en el área de Ingeniería de Sistemas. Has participado en comités de tesis y conoces en profundidad las normas académicas para la aprobación de proyectos de pregrado y posgrado.  Tu misión es revisar el proyecto de tesis que se te adjuntará a continuación, y determinar si cumple estrictamente con la estructura, el contenido y los estándares de calidad establecidos en el archivo \"EsquemaPT.docx\" (Estructura de Tesis) que también se adjunta.  Instrucciones específicas para la revisión:  1. Análisis de estructura formal (alineación con el esquema): - Verifica que el proyecto incluya TODAS las secciones obligatorias indicadas en el esquema: Cubierta/Carátula, Jurado Dictaminador, Índice General, Capítulo I (Introducción, Referencias Bibliográficas, Anexos). - Para cada sección, verifica que se hayan desarrollado todos los subapartados exigidos. - Identifica si hay secciones omitidas, incompletas o mal numeradas.  2. Análisis de fondo y calidad de contenido: - Introducción: Verifica que la realidad problemática vaya de lo general a lo específico, que los antecedentes sean relevantes y recientes, que el marco teórico incluya al menos 3 metodologías estándar alternativas, que la justificación cubra los aspectos teórico, práctico y metodológico, y que la hipótesis, objetivos y problema estén correctamente formulados. - Referencias: Verifica que cumplan con APA 7, que sean como mínimo 25 referencias, que el 80% sean de los últimos 5 años, el 20% de los últimos 10 años, que el 80% sean artículos de revistas indexadas, que el 20% sean libros, y que el 80% sean artículos en inglés. - Árbol de Problemas, Árbol de Objetivos.  3. Revisión de forma (estilo y normativa): - Verifica el cumplimiento de: márgenes (superior/inferior/derecho 2.5cm, izquierdo 3cm), interlineado (1.5 líneas), alineación (justificada), tipo de fuente (Arial Narrow, 12 puntos), enumeración (arábigo, esquina inferior derecha, sin número en carátula), y normas de citas APA 7.  4. Identificación de errores: - Para cada error encontrado, indica: ubicación exacta (sección, página o línea aproximada), descripción del error, y corrección sugerida según el esquema normativo.  5. Identificación de mejoras o faltantes: - Para cada aspecto que esté ausente o sea mejorable, indica: qué falta o qué se puede mejorar, por qué es importante, y cómo debería integrarse o corregirse.  6. Estructura de la respuesta (OBLIGATORIO FORMATO JSON): - Debes devolver la respuesta ESTRICTAMENTE en el siguiente formato JSON para que el sistema pueda procesarlo (no agregues texto fuera del JSON):  ```json {   \"estado\": \"Aprobado\" | \"Observado\" | \"Rechazado\",   \"puntuacionGeneral\": 85,   \"escalaVigesimal\": \"17/20\",   \"calificacion\": \"Muy buena\",   \"observaciones\": [     {       \"seccion\": \"Introducción\",       \"estado\": \"OK\" | \"Incompleto\" | \"Ausente\" | \"Con errores\",       \"comentario\": \"Descripción detallada del error o lo que falta\",       \"sugerencia\": \"Cómo corregirlo\"     }   ],   \"recomendacionesFinales\": \"Recomendaciones generales para el tesista\" } ```  7. Tono y estilo: Formal, objetivo, técnico pero claro. Utiliza lenguaje propio de un revisor académico.  Importante: Basa tu revisión EXCLUSIVAMENTE en la comparación entre el contenido del proyecto de tesis y los requisitos de la estructura. Si algún requisito del esquema no está claro, indícalo en la revisión. Si el proyecto incluye elementos no exigidos, menciónelos como \"contenido adicional\" sin penalizar, a menos que contradigan la norma. Adjunto la tesis: {{ $json.text }}"
      },
      "id": "cb540b84-793a-4867-97e6-a27569484767",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1,
      "position": [
        1072,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const tesisId = $node[\"Webhook\"].json.body?.tesisId;\nconst startMs = $node[\"Marcar inicio\"].json._startMs;\n\nconst raw = ($json.text ?? $json.output ?? $json.response ?? \"\").toString();\n\nfunction stripFences(s) {\n  return s.replace(/```json\\s*/gi, \"\").replace(/```\\s*/g, \"\").trim();\n}\n\nfunction extractFirstJsonObject(s) {\n  const cleaned = stripFences(s);\n  const match = cleaned.match(/\\{[\\s\\S]*\\}/);\n  return match ? match[0] : cleaned;\n}\n\nlet parsed;\ntry {\n  const jsonStr = extractFirstJsonObject(raw);\n  parsed = JSON.parse(jsonStr);\n} catch (e) {\n  parsed = {\n    estado: \"Error\",\n    puntuacionGeneral: 0,\n    escalaVigesimal: \"0/20\",\n    calificacion: \"Error\",\n    observaciones: [\n      {\n        seccion: \"Salida del modelo\",\n        estado: \"Con errores\",\n        comentario: \"La IA no devolvió un JSON parseable.\",\n        sugerencia: \"Ajusta el prompt o conecta un parser estructurado; revisa la salida cruda.\"\n      }\n    ],\n    recomendacionesFinales: \"Reintenta la revisión y verifica el formato de salida (JSON).\"\n  };\n}\n\nif (!Array.isArray(parsed.observaciones)) parsed.observaciones = [];\nif (typeof parsed.puntuacionGeneral === \"string\") {\n  const n = parseFloat(parsed.puntuacionGeneral);\n  parsed.puntuacionGeneral = Number.isFinite(n) ? n : 0;\n}\n\nconst tiempoProcesamiento = typeof startMs === \"number\" ? Math.max(0, Math.round((Date.now() - startMs) / 1000)) : 0;\n\nreturn [\n  {\n    json: {\n      tesisId,\n      tiempoProcesamiento,\n      ...parsed\n    }\n  }\n];"
      },
      "id": "a6be888e-0013-4b7d-ab22-dea8229dcd41",
      "name": "Normalizar salida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const tesisId = $node[\"Webhook\"].json.body?.tesisId;\nconst tipoArchivo = ($node[\"Webhook\"].json.body?.tipoArchivo || \"\").toString();\nconst startMs = $node[\"Marcar inicio\"].json._startMs;\nconst tiempoProcesamiento = typeof startMs === \"number\" ? Math.max(0, Math.round((Date.now() - startMs) / 1000)) : 0;\n\nreturn [\n  {\n    json: {\n      tesisId,\n      tiempoProcesamiento,\n      estado: \"Error\",\n      puntuacionGeneral: 0,\n      escalaVigesimal: \"0/20\",\n      calificacion: \"Error\",\n      observaciones: [\n        {\n          seccion: \"Archivo\",\n          estado: \"Con errores\",\n          comentario: `Tipo de archivo no soportado: ${tipoArchivo}.`,\n          sugerencia: \"Usa un archivo PDF, DOCX o TXT y vuelve a intentar.\"\n        }\n      ],\n      recomendacionesFinales: \"Soportado por este flujo: PDF, DOCX (se convierte a PDF) y TXT.\"\n    }\n  }\n];"
      },
      "id": "3e7ead7e-5b48-4471-a76b-a9c67a10d71c",
      "name": "Tipo no soportado",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://frontend:3000/api/webhook-callback",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "name": "Enviar al Frontend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1664,
        112
      ],
      "id": "c4108862-0d93-4dcc-8e4a-d906d0118651"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Marcar inicio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Marcar inicio": {
      "main": [
        [
          {
            "node": "Descargar Archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Archivo": {
      "main": [
        [
          {
            "node": "Tipo de archivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo de archivo": {
      "main": [
        [
          {
            "node": "Extraer texto (PDF)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extraer texto (TXT)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convertir DOCX a PDF (Gotenberg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto (PDF)": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer texto (TXT)": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convertir DOCX a PDF (Gotenberg)": {
      "main": [
        [
          {
            "node": "Extraer texto (PDF)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Normalizar salida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalizar salida": {
      "main": [
        [
          {
            "node": "Enviar al Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tipo no soportado": {
      "main": [
        [
          {
            "node": "Enviar al Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d32474c2340fa4eb844d8322bff7f8c4c77727d93a2d2090cea5aec98cbfdc2b"
  }
}
